# Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# (i) String
my_string = "Hello, world!"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14

# (iv) Tuple
my_tuple = (1, 2, 3, 4, 5)

# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.


Here are the data types for each of the given variables:

(i) var1 = ‘ ‘:
Data type: String

(ii) var2 = ‘[ DS , ML , Python]’:
Data type: String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]:
Data type: List

(iv) var4 = 1.:
Data type: Float

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [8]:
#(i) / (Division Operator):

#The division operator (/) is used to perform division between two numbers.
#It returns the quotient of the division.
# Example:
a = 10 / 3
print(a)  # output is 3.3333333333333335

3.3333333333333335

In [10]:
# (ii) % (Modulus Operator):

# The modulus operator (%) returns the remainder of the division operation.
# It's often used to check if a number is divisible by another number or to extract digits from a number.
#Example:
# Modulus
a = 10 % 3
print(a)  # Output: 1 (because 10 divided by 3 gives a quotient of 3 and a remainder of 1)

1

In [11]:
# (iii) // (Floor Division Operator):

# The floor division operator (//) performs division and returns the integer part of the result (rounds down to the nearest integer).
# It's useful when you want to get the quotient as an integer without the fractional part.
# Example:
a =10//3
print (a) # Output 3 (because 10 divided by 3 gives 3.3333... but // operator rounds down to 3)

3

In [12]:
# (iv) ** (Exponentiation Operator):

# The exponentiation operator (**) raises the left operand to the power of the right operand.
# It's used to perform exponentiation operations.
# Example:
a=2**3
print (a) # Output: 8 (because 2 raised to the power of 3 equals 8)

8

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [20]:
l=[1,2,3,4,5,6,7,8,'pk',3.43]
for i in l :
  print (i, '_',type(i))

1 _ <class 'int'>
2 _ <class 'int'>
3 _ <class 'int'>
4 _ <class 'int'>
5 _ <class 'int'>
6 _ <class 'int'>
7 _ <class 'int'>
8 _ <class 'int'>
pk _ <class 'str'>
3.43 _ <class 'float'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [26]:
from binascii import b2a_qp
a=10
b=2
count=0
while a%b==0 :
  a /=b
  count +=1
if count > 0:
    print(f"{count} times divisible by {b} with quotient {a}")
else:
    print(f"{a} is not divisible by {b}")

1 times divisible by 2 with quotient 5.0

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [33]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l :
  if i % 3== 0:
    print(f'{i} is divisible by 3')
  else :
    print(f'{i} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [38]:
#Mutable and immutable data types refer to whether the value of an object can be changed after it has been created.
# Mutable Data Types:

# Mutable data types are those whose values can be changed after creation.
# This means you can modify the contents of an object without changing its identity.
# Examples of mutable data types in Python include lists, dictionaries, and sets.
# Example :-
l=[1,3,5,4,'pk'] # Creating a list
print(l)

l[1]=20 # modifying the list
print(l) # After modifying the list

# Immutable Data Types:

# Immutable data types are those whose values cannot be changed after creation.
# This means once an object is created, you cannot modify its contents. If you need to change the value, you must create a new object.
# Examples of immutable data types in Python include integers, floats, strings, tuples, and frozensets.
# Example :-
s= 'Prashant'   # creating a str var
print(s)

# Trying to modify str var (this will raise an error)
s[3] = 'k'

[1, 3, 5, 4, 'pk']
[1, 20, 5, 4, 'pk']
Prashant

TypeError: 'str' object does not support item assignment