**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

**What is a Database?**
A database is a structured system for storing, managing, and retrieving data efficiently. It helps organize data in a way that allows easy access, updating, and security. Databases are widely used in applications ranging from small websites to large enterprise systems.

**Difference Between SQL and NoSQL Databases**

**1. Definition**

**SQL Databases**: Structured databases that store data in tables with predefined relationships.

**NoSQL Databases**: Non-relational databases designed for flexible and scalable data storage.

**2. Data Structure**

**SQL**: Uses tables with rows and columns (structured format).

**NoSQL**: Uses flexible formats such as key-value pairs, documents, graphs, or wide-column stores.

**3. Schema**

SQL: Requires a fixed schema; data must fit predefined columns and types.

NoSQL: Schema-less or dynamic schema, allowing flexibility in data storage

**4. Scalability**

SQL: Typically scales vertically (adding more power to a single server).

NoSQL: Scales horizontally (distributes data across multiple servers).

**5. ACID vs. BASE**

SQL: Follows ACID properties (Atomicity, Consistency, Isolation, Durability) for reliable transactions.

NoSQL: Follows BASE principles (Basically Available, Soft-state, Eventually consistent) for performance and scalability.

**6. Query Language**

SQL: Uses Structured Query Language (SQL) for queries.

NoSQL: Uses database-specific queries (e.g., MongoDB uses JSON-like queries).

**7. Best Use Cases**
SQL: Suitable for applications requiring high consistency, such as banking, finance, and ERP systems.

NoSQL: Best for handling large-scale data, real-time applications, and big data analytics.

**8. Examples**

SQL: MySQL, PostgreSQL, SQL Server, Oracle.

NoSQL: MongoDB, Cassandra, Redis, Firebase.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

**What is DDL (Data Definition Language)?**

DDL (Data Definition Language) is a subset of SQL that is used to define, modify, and manage database structures like tables, schemas, indexes, and constraints. DDL commands do not manipulate data but rather define how data is stored.

**Key DDL Commands with Examples:**

**1. CREATE**

The CREATE command is used to create new database objects such as databases, tables, indexes, or views

**Example:** Creating a Table

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT,
    Salary DECIMAL(10,2)
);

**2. DROP**

The DROP command is used to delete a database object (such as a table, view, or database) permanently.

Example: DROP TABLE Employees;

**3. ALTER**

The ALTER command is used to modify an existing database object, such as adding, deleting, or modifying columns in a table.

Example: Adding a Column

ALTER TABLE Employees ADD Email VARCHAR(100);

**4. TRUNCATE**

The TRUNCATE command removes all rows from a table but keeps the table structure intact.

Example: Truncating a Table

TRUNCATE TABLE Employees;

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

**What is DML (Data Manipulation Language)?**

DML (Data Manipulation Language) is a subset of SQL used to manipulate data stored in a database. It includes commands that allow users to insert, update, delete, and retrieve data from tables.

Unlike DDL (Data Definition Language), which defines database structure, DML focuses on handling the data itself.

**Key DML Commands with Examples**

**1. INSERT (Adding Data to a Table)**
The INSERT command is used to add new records into a table.

Example: Inserting a Single Record

INSERT INTO Employees (ID, Name, Age, Salary)
VALUES (1, 'John Doe', 30, 50000);

**2. UPDATE (Modifying Existing Data)**
The UPDATE command modifies existing records in a table.

Example: Updating a Single Record

UPDATE Employees
SET Salary = 65000
WHERE ID = 1;

**3. DELETE (Removing Data from a Table)**
The DELETE command removes specific records from a table.

Example: Deleting a Single Record

DELETE FROM Employees
WHERE ID = 3;

**Q4. What is DQL? Explain SELECT with an example.**

**What is DQL?**

**DQL (Data Query Language)** is a subset of SQL used only to query and fetch data from the database.
It is mainly used to retrieve data from one or more tables in a structured format.

**DQL has only one command** → SELECT
This command is used to fetch data based on conditions, filters, or requirements.

**SELECT Command Explanation**

The SELECT statement is used to retrieve data from one or more tables in a database.

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Example 1: Fetch All Columns

SELECT * FROM Employees;
This will fetch all columns and all records from the Employees table.

**Q5. Explain Primary Key and Foreign Key.**

**Primary Key**

A Primary Key (PK) is a unique identifier for a record in a table.
Each table can have only one primary key, and its values must be unique and not NULL.

**Properties of Primary Key**

**Uniqueness** → No duplicate values allowed.

**Not NULL** → Cannot have NULL values.

**Only one per table **→ A table can have only one primary key.

**Example: Employees Table**

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,  -- Unique Identifier
    Name VARCHAR(50),
    Age INT,
    Department VARCHAR(50)
);

**Foreign Key**

A Foreign Key (FK) is a column that establishes a relationship between two tables. It refers to the Primary Key of another table.

**Properties of Foreign Key**

Creates a link between two tables.

Can have duplicate values (many employees can belong to the same department).

Can have NULL values if the relationship is optional.

**Example:** Employees and Departments Table

CREATE TABLE Departments (
    DeptID INT PRIMARY KEY,  -- Primary Key
    DeptName VARCHAR(50)
);

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT,
    DeptID INT,  -- Foreign Key referencing Departments table
    FOREIGN KEY (DeptID) REFERENCES Departments(DeptID)
);

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

**Connecting MySQL to Python**

To connect MySQL to Python, we use the mysql.connector module.

In [1]:
import mysql.connector

# Step 1: Establish Connection
conn = mysql.connector.connect(
    host="localhost",      # MySQL Server Host
    user="root",           # MySQL Username
    password="password",   # MySQL Password
    database="test_db"     # Database Name
)

# Step 2: Create Cursor Object
cursor = conn.cursor()

# Step 3: Create a Table (if not exists)
cursor.execute("""
    CREATE TABLE IF NOT EXISTS students (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        age INT
    )
""")

print("Table Created Successfully!")

# Step 4: Insert Data into Table
cursor.execute("INSERT INTO students (name, age) VALUES (%s, %s)", ("John Doe", 21))
conn.commit()  # Save changes

print("Data Inserted Successfully!")

# Step 5: Fetch Data from Table
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

print("Student Records:")
for row in rows:
    print(row)

# Step 6: Close Connection
cursor.close()
conn.close()

ModuleNotFoundError: No module named 'mysql'

**cursor() Method**
Creates a cursor object to execute SQL queries.

Acts as an interface between Python and MySQL.

cursor = conn.cursor()

Always close the cursor after use:
cursor.close()


**execute() Method**

Runs SQL queries like CREATE TABLE, INSERT, SELECT.

cursor.execute("SQL_QUERY")
For queries returning results:
result = cursor.fetchall()  # Fetch all rows

**Q7. Give the order of execution of SQL clauses in an SQL query.**

**Ans. **
When executing an SQL query, SQL follows a specific order of execution of clauses, which is different from the order in which they are written.

**Order of Execution:**

1. FROM - Specifies the table to retrieve data from.

2. JOIN - Combines data from multiple tables if required.

3. WHERE - Filters the data based on conditions.

4. GROUP BY - Groups the filtered data based on specified columns.

5. HAVING - Filters grouped data based on conditions.

6. SELECT - Selects the columns to be retrieved.

7. DISTINCT - Removes duplicate records from the selected results.

8. ORDER BY - Sorts the results based on specified columns.

9. LIMIT / OFFSET - Restricts the number of rows returned.